{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>CRUD | Class Based view - Add page </title>
{% endblock %}

{% block body %}

<div class="container-fluid mid-section my-3">
    <div class="w-75 m-auto">
        <h5 class="text-center p-2 bg-primary text-center text-light">Create Employee Record</h5>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <!---{{ form.as_div }} will render them wrapped in <div> tags.
                 {{ form.as_table }} will render them as table cells wrapped in <tr> tags.
                 {{ form.as_p }} will render them wrapped in <p> tags.
                 {{ form.as_ul }} will render them wrapped in <li> tags.
                 Note that you’ll have to provide the surrounding <table> or <ul> elements yo---->
                    
            <button type="submit" class="btn btn-primary w-100"> Submit</button>    
        </form>
    </div>
</div>

{% endblock %}